
@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


@font-face {
    font-family: 'Idroid';
    src: url(fontes/idroid.otf) format("otf");
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad; 
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte0: Arial, helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Idroid', sans-serif;
}


* {
    line-height: 1.5em;
    margin: 0px;
}

body {
    background-color: var(--cor0);
    /* min-width: 400px;
    max-width: 800px; */
    font-family: var(--fonte0);

}

header {
    background-image: linear-gradient(to top, #063D1E, #2fa866);
    height: 130px;
    font-family: var(--fonte1);
    font-weight: normal;
    font-size: 24px;
    /* font-style: normal; */
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    box-shadow: rgba(100, 100, 111, 0.889) 0px 7px 29px 0px;
    padding-top: 40px;
   
    
}

header p {
    font-family: var(--fonte0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-size: 14px;
    max-width: 320px;
    margin: auto;

}

nav {
    background-color: var(--cor5);
    font-family: var(--fonte0);
    /* display: flex; */
    /* height: 40px; */
    padding: 10px;
 
}

nav > ul > li {
    display: inline;
    list-style-type: none;  
    margin-right: 2em;
    /* border: 2px solid; */
    /* box-sizing: border-box; */
    /* padding: px; */
}

nav > ul > li > a {
    color: var(--cor0);
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    transition-duration: 0.3s;
    font-weight: 550;
}

nav > ul > li > a:hover {
   background-color: var(--cor3);
   color: var(--cor5);
   border-radius: 5px;
   /* padding: 0.5em 0.5em 0.5em; */
   
}

.link {
    color: var(--cor3);
    text-decoration: none;
    font-weight: bolder;    ;
}

div.video {
    position: relative;
    background-color: white;
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main {

    background-color: white;
    /* display: block; */
    /* width: 70%; */
    margin: auto;
    margin-bottom: 30px;
    min-width: 320px;
    max-width: 800px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

img {
    width: 100%;
}

main p {
    text-align: justify;
    text-indent: 30px;
    /* line-height: 25px; */
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px;
}

main h1 {
    font-family: var(--fonte2);
    font-size: 1.8em;
    font-weight: normal;
    color: var(--cor4);

}

main h2 {
    font-family: var(--fonte2);
    font-weight: normal;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    font-size: 20px;
    text-indent: 10px;
}

main > article > aside {

    background-color: var(--cor0);
    /* line-height: 1.5em; */
    
    /* line-height: 25px; */
    font-size: 16px;
    text-indent: 10px;
    /* margin-bottom: 15px;
    margin-top: 15px; */
    border-radius: 12px;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.479);
   
}

main > article > aside > p {
    padding: 7px;
    text-align: justify;
    text-indent: 30px;
}

main > article > aside > h3 {
    font-family: var(--fonte0);
    color: white;
    font-size: 16px;
    background-color: var(--cor3);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

main > article > aside > ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

footer {
    background-color: var(--cor4);
    font-family: var(--fonte0);
    text-align: center;
    color: white;
    padding: 5px;
    /* margin-top: 15px; */
}
